.single-card {
    background-color: #112240;
    width: 30%;
    margin: 10px;
    padding: 30px;
    text-decoration: none;
}

.single-card .cardTitle:hover {
    color: #64ffda;
}

.cardHead {
    display: flex;
    justify-content: space-between;
}

.folder-icon {
    color: #64ffda;
}

.links a {
    color: #8892b0;
}

.links span {
    margin: 5px;
}

.links span:hover {
    color: #64ffda;
}

.cardTitle {
    color: lightcyan;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

.cardContent {
    color: #8892b0;
    text-align: left;
    margin-top: 10px;
}

.cardFooter {
    margin-top: 20px;
    color: #8892b0;
    display: flex;
    flex-wrap: wrap;
}

.cardFooter span {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .single-card {
        width: 100%;
    }

}