.about-me-wrapper {
    display: flex;
}

.about-me {
    width: 100%;
    float: left;
    text-align: left;
    margin-right: 20px;
}

.about-me h4 {
    color: lightcyan;
    font-size: 32px;
}

.about-me ul {
    color: #8892b0;
}

.about-me p {
    color: #8892b0;
    font-size: 17px;
}

.skill-lists {
    display: flex;
}

.skill-lists ul {
    list-style: none;
}

.profile-image {
    border: 2px solid #64ffda;
    border-radius: 4px;
    color: #8892b0;
    display: inline-block;
    height: 300px;
    width: 500px;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    width: 80%;
    color: #8892b0;
    border-radius: 4px;
}