nav {
    text-align: left;
}

nav ul {
    list-style: none;
}

.nav-links {
    margin-top: 6px;
}

.resume {
    color: lightblue;
    padding: 10px 25px;
    background-color: transparent;
    border: 2px solid lightblue;
    border-radius: 5px;
    font-weight: bold;
}