.work-wrapper {
    width: 60%;
    margin: 0 auto;
    padding: 160px 0;
}



.div-tabs {
    color: #8892b0;
}

.my-tabs {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.my-tabs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid #8892b0;
}

.my-tabs ul li {
    font-size: 13px;
    padding: 5px;
    border: none;
    width: 100px;
}

.my-tabs ul li:hover {
    cursor: pointer;
    background-color: #092b53;
    color: #64ffda;
    border-left: 1px solid #64ffda;
}

.work-details {
    text-align: left;
    margin-left: 20px;
}

.work-place {
    color: lightcyan;
    margin: 0;
}

.company {
    color: #64ffda;
}

.company a {
    color: #64ffda;
    text-decoration: none;
}

.work-period {
    font-size: 13px;
}

.specific-details {
    display: flex;
}

.specific-details span {
    float: left;
    margin-right: 15px;
}

.skill-lists ul li span {
    margin-right: 15px;
}